section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 ;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}


@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}